* {
  font-family: serif;
}

html {
  background-color: gray;
}

button, input {
  background-color: black;
  color: white;
  border: 1px bevel white;
  font-size: 1em;
}

input {
  border: 1px solid white;
  padding-left: 5px;
}

input::placeholder {
  color: white;
}

textarea {
  height: 20em;
  width: 35em;
  overflow-y: scroll;
  font-size: 1.25em;
}

#red {
  background-color: red;
  width: 12em;
  margin-bottom: 5px;
}

#yellow {
  background-color: yellow;
  width: 10em;
}

#red, #yellow {
  padding-left: 2px;
}
